extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
            //- [9.5.1] 스스로해보기 - 팔로잉 끊기 START ===
            input.twit-fUser-id(type='hidden' value=following.id)
            button.twit-unfollow  언팔로우
            //- [9.5.1] 스스로해보기 - 팔로잉 끊기 END ===
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick
  //- [9.5.1] 스스로해보기 - 프로필 정보 변경하기 START ===
  .userInfo
    h3(style="text-align: center") 내 정보 수정
    br
    form#userInfo-form(action='/auth/update' method='post' style="text-align: center")      
      div(style="float: left; margin: 10px 0;")
        span(style="margin-right: 5px") 이메일
        input(type="text" name="email" value=user.email readonly style="background-color: lightgray;")
      div(style="float: left; margin: 10px 0;")
        span(style="margin-right: 5px") 닉네임
        input(type="text" name="nick" value=user.nick)
      div(style="float: left; margin: 10px 0;")
        span(style="margin-right: 5px") 비밀번호
        input(type="password" name="password" required)
      div(style="margin: 10px 0;")
        button.userInfo-submit(type="submit") 수정

  //- [9.5.1] 스스로해보기 - 프로필 정보 변경하기 END ===
  script.
    //- [9.5.1] 스스로해보기 - 팔로잉 끊기 START ===
    document.querySelectorAll('.twit-unfollow').forEach(function (tag) {
      tag.addEventListener('click', function () {
        var isLoggedIn = document.querySelector('#my-id');
        if (isLoggedIn) {
          var userId = tag.parentNode.querySelector('.twit-fUser-id').value;
          var myId = isLoggedIn.value;
          if (userId !== myId) {
            if (confirm('팔로잉하시겠습니까?')) {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('DELETE', '/user/' + userId + '/unfollow');
              xhr.send();
            }
          }
        }
      });
    });
    //- [9.5.1] 스스로해보기 - 팔로잉 끊기 END ===